Source: ros-lunar-roslisp-repl
Section: misc
Priority: extra
Maintainer: Gayane Kazhoyan <kazhoyan@cs.uni-bremen.de>
Build-Depends: debhelper (>= 9.0.0), ros-lunar-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-lunar-roslisp-repl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lunar-rosemacs, ros-lunar-roslisp, ros-lunar-slime-ros, ros-lunar-slime-wrapper, sbcl
Description: This package provides a script that launches Emacs with Slime (the Superior Lisp Interaction Mode) ready for Lisp development and roslisp.
