Source: ros-lunar-ros-emacs-utils
Section: misc
Priority: extra
Maintainer: Gayane Kazhoyan <kazhoyan@cs.uni-bremen.de>
Build-Depends: debhelper (>= 9.0.0), ros-lunar-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-lunar-ros-emacs-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lunar-rosemacs, ros-lunar-roslisp-repl, ros-lunar-slime-ros, ros-lunar-slime-wrapper
Description: A metapackage of Emacs utils for ROS.
 Only there for simplifying the release process.
